{% extends 'base.html' %}


{% block main_content%}

<br>
<br>
<br>

<table>
    <colgroup>
        <col style="width: 100px;">
        <col style="width: 300px;">
        <col style="width: 300px;">
    </colgroup>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>URL</th>
    </tr>
    {% for source in source_list %}
    <tr>
        <td>{{source.id}}</td>
        <td>{{source.name}}</td>
        <td>{{source.source_url}}</td>

        <td><a href="{% url 'currency:delete-source' pk=source.pk %}">Delete</a></td>
        <td><a href="{% url 'currency:update-source' pk=source.pk %}">Update</a></td>
        <td><a href="{% url 'currency:source-details' pk=source.pk %}">Details</a></td>
    </tr>

    {% endfor %}
</table>
<br>
<br>
<a href="{% url 'currency:create-source'%}">Create Source</a>
<br>
<br>
{% endblock %}