{% extends 'base.html' %}

{% block main_content %}

{% for object in object_list %}
Id: {{ object.id }}<br>
Name: {{ object.name }}<br>

Related Rates
<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Sale</th>
        <th>Buy</th>

        <th>Type</th>
        <th>Actions</th>
    </tr>

    {% for rate in object.rates.all %}
    <tr>
        <td>{{ rate.id }}</td>
        <td>{{ rate.sale }}</td>
        <td>{{ rate.buy }}</td>
        <td>{{ rate.get_curr_type_display }}</td>
        <td>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Actions
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="{% url 'currency:rate-details' rate.pk %}">Details</a>
                    <a class="dropdown-item" href="{% url 'currency:update-rate' rate.pk %}">Update</a>
                    <a class="dropdown-item" href="{% url 'currency:delete-rate' rate.pk %}">Delete</a>
                </div>
            </div>
        </td>
    </tr>
    {% endfor %}
</table>
{% endfor %}
{% endblock %}